.slider-home {
    width: 100%;
    height: max-content;
    background-color: #e5d7f1;
    padding-top: .5rem;
}

.slider-home .slide_organizer {
    display: flex;
    align-items: flex-start;
}
.slider-home .slide_organizer > div.text {
    width: 50%;
  
    margin: 3rem -10% 3rem 0;
}
.slider-home .slide_organizer div.text .content {
    width: max-content;
    padding: 1rem;

}

.slider-home .slide_organizer div.text h2 {
    color: #47285c;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 600;
}
.slider-home .slide_organizer div.text .content > p {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.slider-home .slide_organizer div.text .title {
    background-image: linear-gradient(to right, #d5c0e7, transparent);
}
.slider-home .slide_organizer div.text .text-inside {
    color: #47285c;
    text-transform: uppercase;
    padding: 1rem;
    font-size: .9rem;
}
.slider-home .slide_organizer div.text .text-inside button {
    outline: none;
    border: none;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: #1da0b5;
    border-radius: 5px;
    border-bottom: 2px solid #0d6574;
    /* padding: .5rem 0 .5rem .5rem; */
    padding: 0;
    padding-left: 1rem;
    overflow: hidden;
    width: max-content;
}
.slider-home .slide_organizer div.text .text-inside button span {
    margin-left: 1rem;
    height: 200%;
    margin-top: -100%;
    padding: 1rem .5rem;
    background-color: #188a9d;
}
.slider-home .slide_organizer div.text .text-inside button span i {
    padding: .7rem .5rem;
}

.slider-home .slide_organizer div.image {
    width: 60%;
    height: 370px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
}
.slider-home .splide__pagination__page {
    width: 12px;
    height: 12px;
    border: 2px solid #47285c;
    opacity: 1;
}


/* /////////////////// */
.section-home .content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.section-home .content .image {
    width: 35%;
    min-width: 200px;
    height: max-content;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    transition: .3s;
}
.section-home .content .image:hover {
    border-radius: 10px;
    background-size: 120% auto;
    overflow: hidden;
}
.section-home .content .image img {
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: auto;
}

.section-home .content .text {
    width: 63%;
    min-width: 300px;
    margin-left: 2%;
}
.section-home .content .text h2 {
    color: #47285c;
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.section-home .content .text p {
    color: #47285c;
    font-size: 1rem;
}

@media screen and (max-width: 1000px), (orientation: portrait) {
    .slider-home .slide_organizer {
        flex-direction: column;
    }
    .slider-home .slide_organizer > div.text {
        margin: 0;
        width: 100%;
    }
    .slider-home .slide_organizer div.image {
        height: 205px;
        width: 100%;
    }
    .slider-home .slide_organizer div.text h2 {
        font-size: 1.5rem;
    }
    .slider-home .slide_organizer div.text .content > p {
        font-size: 1.2rem;
    }
    .slider-home .slide_organizer div.text .text-inside button {
        outline: none;
        border: none;
        background: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        background-color: #1da0b5;
        border-radius: 5px;
        border-bottom: 2px solid #0d6574;
        padding: 0;
        padding-right: 1.4rem;
        overflow: hidden;
        width: 100%;
        height: 2.5rem;
        font-size: .8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .slider-home .slide_organizer div.text .text-inside button span {
        padding: 1rem .7rem;
        background-color: #188a9d;
        position: absolute;
        right: 0;
        margin-top: 0;
        height: unset;
    }
    .section-home .content {
        flex-direction: column;
        align-items: center;
        height: max-content;
        padding-bottom: 2rem;
    }
    .section-home .content .image {
        width: 100%;
    }
    .section-home .content .text {
        width: 100%;
        margin-left: 0;
    }
    .footer-section .content {
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer-section .content .form-section {
        margin-bottom: 15%;
        min-width: unset;
        width: 95%;
        max-width: 565px;
    }
    .footer-section .content .form-section:before {
        left: -20%;
        width: 120vw;
        height: calc(100% + 30%);
    }
    .footer-section .content .form-section form {
        max-width: unset;
    }
    .footer-section .content .contact-section {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer-section .content .contact-section:before {
        display: none;
    }
    .footer-section .content .contact-section .social-networks {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-section .content .contact-section .contact {
        width: 100%;
        align-items: center;
        margin-top: 1rem;
    }
    .footer-section .content .contact-section .contact a i {
        margin-right: 5px;
    }
    .footer-section .content .contact-section .contact a.logo {
        margin: 1rem 0;
    }


}





