nav.navbar {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
}

nav.navbar .top-contact {
    color: #d6d6d6;
    padding-top: .7rem;
    padding-bottom: .7rem;
    width: 100%;
    /* margin-left: 65%; */
}
nav.navbar .top-contact .content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav.navbar .top-contact .content .group {
    position: relative;
}

nav.navbar .top-contact .content .group:before {
    content: " ";
    position: absolute;
    top: -.7rem;
    left: -2.5rem;
    width: 100vw;
    height: calc(100% + 1.4rem);
    background-color: #47285c;
    border-radius: 0 0 0 6px;
    z-index: -1;
}

nav.navbar .top-contact .content .group > a {
    color: #d6d6d6;
    font-size: .8rem;
    text-decoration: none;
    margin-right: 15px;
}
nav.navbar .top-contact .content .group > a i.whatsapp {
    padding: 8px;
    border-radius: 50%;
    background-color: #00d954;
    color: #fff;
}

nav.navbar .top-contact .content .group > a.instagram {
    margin-left: 30px;
}

nav.navbar li.nav-item a {
    font-size: .8rem;
}
nav.navbar > div.container {
    height: 70px;
}
nav.navbar > div.container a.navbar-brand {
    height: calc(100% + 2.2rem);
    margin-top: -2.2rem;
    margin-right: 0;
}
nav.navbar > div.container a.navbar-brand img {
    height: 100%;
    width: auto;
}

nav.navbar > div.container > div#navbarResponsive > ul {
    height: 100%;
    align-items: center;
}
nav.navbar > div.container > div#navbarResponsive > ul li {
    height: 100%;
    transition: .3s;
    border: 2px solid transparent;
}
nav.navbar > div.container > div#navbarResponsive > ul li a {
    height: 100%;
    display: flex;
    align-items: center;
}
nav.navbar > div.container > div#navbarResponsive > ul li.active,
nav.navbar > div.container > div#navbarResponsive > ul li:hover {
    border-bottom: 2px solid #47285c;
}




@media screen and (max-width: 1000px), (orientation: portrait) {
    nav.navbar {
        flex-direction: row;
    }
    nav.navbar > div.container a.navbar-brand {
        margin-top: 0;
        height: 100%;
    }
    nav.navbar .top-contact {
        display: none;
    }
    nav.navbar > div.container {
        height: unset;
    }
    nav.navbar > div.container a.navbar-brand img {
        height: auto;
        width: 150px;
    }
    
    nav.navbar > div.container > div#navbarResponsive > ul {
        height: unset;
    }
}
@media screen and (min-width: 1000px), (orientation: landscape) {
    nav.navbar > div.container > div#navbarResponsive {
        height: 100%;
    }
}
